.placeholder {
  background: var(--p-surface-ground);
}

.placeholder--carousel {
  height: 400px;
}

.placeholder--services {
  height: 300px;
}

.placeholder--news {
  height: 400px;
}

.placeholder--weather {
  height: 200px;
}

.placeholder--contact {
  height: 500px;
}

.placeholder--social {
  height: 100px;
}