DATABASE_URL=postgresql+psycopg2://usuario:contraseña@localhost:5432/ZOOCONNECT
#Para docker
#DATABASE_URL=postgresql+psycopg2://usuario:contraseña@host.docker.internal:5432/ZOOCONNECT

SECRET_KEY=tu_clave_secreta_aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=100
REFRESH_TOKEN_EXPIRE_DAYS=5

MEDIA_DIR=./media
CORS_ORIGINS=["http://localhost:4200", "http://127.0.0.1:3000"]
FRONTEND_RESET_PASSWORD_URL=http://localhost:4200/reset-password

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

DEFAULT_ADMIN_EMAIL="admin@tudominio.com"
DEFAULT_ADMIN_PASSWORD="password_seguro_aqui"

MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password_de_16_caracteres
MAIL_FROM=tu_correo@gmail.com
MAIL_FROM_NAME="Soporte de ZooConnect"

TOTP_ENCRYPTION_KEY="tu_clave_de_encriptacion_totp"

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# ReCAPTCHA v2 (Google) - Visible widget - Obtener en https://www.google.com/recaptcha/admin
RECAPTCHA_SECRET_KEY=tu_clave_secreta_recaptcha_v2
RECAPTCHA_SITE_KEY=tu_clave_de_sitio_recaptcha_v2
REQUIRE_RECAPTCHA=True

# TextBee (SMS Service)
TEXTBEE_API_BASE_URL=https://api.textbee.dev/api/v1
TEXTBEE_API_KEY=tu_api_key_aqui
TEXTBEE_DEVICE_ID=tu_device_id_aqui
SMS_OTP_EXPIRE_MINUTES=10

